$my-font:'Poppins', sans-serif;
$width:100%;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: $my-font;
}
header {
    display: flex;
    padding: 20px 0;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: #fff;
    width: 100%;
    padding: 20px 25px;
    .left{
        display: flex;
        align-items: center;
        .image_container{
            width: 188px;
            height: 24px;
            margin-right: 20px;
            h1{
                a{
                    img{
                        width:100%;
                        display: block; 
                    }
                }
            }
        }
        ul{
            display: flex;
            align-items: center;
            width: 140px;
            height: 24px;
            gap: 8px;
            li {
                a {
                    img {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }
    .right {
        .button-1 {
            text-decoration: none;
            font-size: 14px;
            border: 1px solid grey;
            padding: 10px;
            color:blue ;
            font-weight: 600;
        }
        .button-2 {
            @extend .button-1;
            color: #fff;
            background: #1a73e8;
            border-radius: 5px;

        }
    }
}

section#main {
    width: 100%;
    display: flex;
    background: #f6f6f6;

    .left {
        width: 50%;
        margin-top: 30px;
        .image_container {
            width: 760px;
            height: 410px;
            img {
                width: 100%;
                height: 100%;

            }
        }
    }
    .right{
        margin-top: 30px;
        width: 50%;
        padding: 80px 80px;
        .top {
            display: flex;
            .left_side {
                img {}
            }
            .right_side {
                span {
                    font-size: 48px;
                    margin-left: 5px;
                }
            }
        }
        .bottom {
            p.one {
                color: #545454;
                font-size: 18px;
                margin-bottom: 20px;
            }
            p.two {
                color: #545454;
                font-size: 14px;
                width: 459px;
                margin-bottom: 30px;

            }
            a.button {
                color: #fff;
                background: #1a73e8;
                padding: 10px;
                font-weight: 600;
                border-radius: 5px;
            }
        }
    }

}

section#programing_disign {
    width: 100%;
    display: flex;
    padding: 80px 0px;
    .left {
        width: 50%;
        padding: 20px 80px;
        margin-left: 80px;
        h2 {
            font-size: 40px;
            margin-bottom: 10px;
        }
        p {
            font-size: 17px;
            width: 443px;
            color: #545454;
           a {
            color: #1a73e8;
           } 
        }
    }
    .right {
        width: 50%;
        .image_container {
            width: 557px;

            img {
                width: 100%;
            }
        }
    }
}

section#content {
    background: #f6f6f6;
    display: flex;
    width: 100%;
    padding: 80px 0px;
    .left {
        padding: 0px 80px;
        width: 50%;
        margin-left: 80px;
        .image_container {
            img {}
        }
    }
    .right {
        margin-right: 80px;
        padding: 0px 70px;
        width: 50%;
        h2 {
            font-size: 37px;
            margin-bottom: 10px;
        }
        p {
            font-size: 18px;
            color: #545454;
        }
    }
}

section#collaboration {
    display: flex;
    margin: 0px 160px;
    padding: 80px 0px 30px;
    .left {
        padding: 0px 62px 50px 0px;
        h4 {
            font-size: 22px;
            color: #202124;
            margin-bottom: 20px;
        }
        p {
            font-size: 14px;
            color: #545454;
        }
    }
    .middle {
        padding: 0px 62px 50px 0px;

        h4 {
            font-size: 22px;
            color: #202124;
            margin-bottom: 20px;

        }
        p {
            font-size: 14px;
            color: #545454;
            a {
                color: #1a73e8;
            }
        }
    }
    .right {
        @extend .left;
    }
}

section#department {
    width: 100%;
    display: flex;
    padding: 30px 0px 60px;
    .left {
        width: 50%;
        height: 717.6;
        .image_container {
            width: 760px;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .right {
        width: 100%;
    background: #ff5252;
    padding: 80px 134px;
        p.one {
            font-size: 28px;
            color: #fff;
        }
        p.two {
            margin-top: 30px;
            color: #fff;
            font-size: 16px;
        }
        p.three {
            margin-top: 10px;
            color: #fff;
            font-size: 16px;
        }
        a.one {
            display: block;
            margin-top: 30px;
            color: #fff;
        }
        a.two {
            display: block;
            margin-top: 10px;
            color: #fff;
        }
    }
}

section#questions {
    margin: 0px 160px;
    padding: 80px 0px 30px;
    .top {
        margin-bottom: 40px;
        h2 {
            text-align: center;
            font-size: 38px;
        }
    }
    .bottom {
        width: 100%;
        display: flex;
        .left {
            width: 400px;
            padding: 0px 62px 50px 0px;
            h4 {
                font-size: 22px;
                color: #202124;
                margin-bottom: 20px;
            }
            p {
                font-size: 14px;
            color: #545454;
            }
        }
        .middle {
            width: 400px;
            padding: 0px 62px 50px 0px;
            h4 {
                font-size: 22px;
                color: #202124;
                margin-bottom: 20px;
            }
            p {
                font-size: 14px;
            color: #545454;
                a {
                    color: #1a73e8
                }
            }
        }
        .right {
            @extend .left;
        }
    }
}
section#start_today {
    padding: 70px 0px;
    .content {
        margin: 0px 160px;
        text-align: center;
        h2 {
            font-size: 37px;
            margin: 30px 0px 20px;
        }
        h3 {
            margin-bottom: 40px;
            font-size: 17px;
            padding: 0px 266px;
            font-weight: 300;
        }
        .button {
            color: #fff;
                background: #1a73e8;
                padding: 10px;
                font-weight: 600;
                border-radius: 5px;
            
        }
    }
}

footer {
    padding: 36px 0px;
    background: #fafafa;
    .top {
        display: flex;
        align-items: center;
        margin: 0px 160px;
        padding-bottom: 30px;

        .left {
            border-right: 1px solid #545454;
            span {}
            a {
                border-bottom: 1px solid #545454;
                margin-right: 20px;
            }
        }
        .right {
            ul {
                display: flex;
                li {
                    width: 24px;
                    margin-left: 20px;
                    a {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .bottom {
        margin: 0px 160px;

        ul {
            display: flex;
            li {
                padding-right: 20px;
                margin-right: 15px;
                a {
                    color: #616161;
                }
            }
        }
    }
}
